@page
@model DeanHLibrarySite.Pages.StaffControls.ReturnItemDetailsModel
@{
}

@if (Model != null && Model.IsAdmin == false)
{
    <p>Incorrect permissions - Need to log in to an admin role</p>
    return;
}   

@if (Model != null && Model.BookID == -1)
{
    <h1> Couldnt find book ID </h1>
    <a href="@Url.Page("./ReturnBookingIndex")" class="button-link">Return</a>
    return;
}


<h1>Returned Books</h1>

<form method="post">
    @{
        <h1>User that booked the item</h1>
        @Model.BookedUserName
        
        <br />
        <h1>Book Name</h1>
        @Model.BookName

        <br />
        if (Model.BookHandInDate >= Model.CurrentDate)
        {
            <p>Handed in time</p>
        }
        else
        {
            <p>NOT handed in time - Disciplinary action may be needed</p>
        } 
    }

    <p>
        <input type="hidden" asp-for="BookID" />
        <input type="hidden" asp-for="BookName" />
        <input type="hidden" asp-for="BookedUserName" />
        <input type="hidden" asp-for="BookedUserID" />
        <input type="hidden" asp-for="BookHandInDate" />
        <input type="hidden" asp-for="CurrentDate" /> 

        <input type="submit" value="Confirm" /> 
    </p>
    <br />
</form>