@page
@model DeanHLibrarySite.Pages.Books.CreateBookingModel

@{
    ViewData["Title"] = "Book This Item";
}

<h1>Create Booking</h1> 

<hr />
<div class="confirmation-message"> 
    @if (Model.ConfirmedBooking)
    {
        <p>We have confirmed your booking of </p>
        <p>@Model.BookTitle</p>
        <p>You must return by the </p>
        <p>@Model.BookingDateExpiry?.ToShortDateString()</p> 
        <p>The book will be ready within an working hour of this confirmation. Please collect at collection station by the reception</p>
    } 
    else
    {            
        <form method="post">
            <input type="hidden" asp-for="ItemId" />
            <input type="hidden" asp-for="Title" />
            <input type="hidden" asp-for="PageNumber" />
            <input type="hidden" asp-for="Author" />
            <input type="hidden" asp-for="Genre" />
            <input type="hidden" asp-for="PublicationYear" />
            <input type="hidden" asp-for="SelectedBookTypes" /> 
            <input type="hidden" asp-for="ConfirmedBooking" />
            <input type="hidden" asp-for="BookingDateExpiry" /> 

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>You are about to book out - </p>
            <p>@Model.BookTitle</p> 
            <div class="form-group">
                <input type="submit" value="Confirm Booking" class="btn btn-primary" />
            </div>
        </form>
    }  
</div>

<div>
    <a href="@Url.Page("./Index", new {id = Model.ItemId, pageNumber = Model.PageNumber, title = Model.Title, author = Model.Author, genre = Model.Genre, publicationYear = Model.PublicationYear,  bookType = Model.SelectedBookTypes.ToString()})" class="button-link">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
