@page
@model DeanHLibrarySite.Pages.IndexModel
@{
}
 
<h1>Menu</h1>

<div class="menu-container">
    <div class="menu-options">
        <a asp-page="./Books/Index" class="menu-option">View Books</a>

        @if (Model != null && Model.LoggedIn)
        {
            if (Model.IsAdmin == false)
            {
                <a asp-page="./Books/ViewBookings" class="menu-option">View Your Current Bookings</a>
            }
            else
            {
                <a asp-page="./StaffControls/ReturnBookingIndex" class="menu-option">View All Bookings</a>
            }
         
            <form id="logoutForm" class="menu-option" asp-area="Identity" asp-page="/Account/Logout" method="post" asp-route-returnUrl="/">
                <button type="submit">Logout</button>
            </form>
        } 
        else
        {
            <a asp-area="Identity" asp-page="/Account/Login" class="menu-option">Login</a>


            <a asp-area="Identity" asp-page="/Account/Register" class="menu-option">Register</a>
        }
    </div>
</div>